@import "header";
@import "footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: normal 18px sans-serif;
    color: #333;
}

.container-fluid{
    padding:0;
    margin:0;
}

header{
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #3A56B7;
    overflow: hidden;
}

header .limiter{
    max-width: 1000px;
    margin: 0px auto;
}

.padding-10 {
    padding: 10px;
}

.width100 {
    width: 100%;
}

.flex {
    display: flex;
}