<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="styles.css"/>
        <!--Let browser know website is optimized for mobile-->
        <script src="../vendor.js"></script>
         
</head>

  <body>

    <%- include header %>



<div class="container">
	<div class="row padding-10">
        <%- include sidebar-admin %>
        <div class="col-md-8">
            <div class="std padding-10">
                <div class="cms-page">
                <h2>Console Form</h2>
        <form id="console-form" action="/new-console" method="post">

		<div class="form-group"> 
		<label class="control-label " for="name">Nombre</label>
		<input class="form-control" id="name" name="name" data-validation="alphanum" type="text" placeholder="Nombre"/>
	</div>
    <span class="help-block"></span>
        
    <div class="form-group"> 
		<label class="control-label requiredField" for="vendor">Vendor<span class="asteriskField">*</span></label>
        <select name="vendor" id="vendor" data-validation="alphanum">
            <option value="Nintendo" selected>Nintendo</option>
            <option value="Microsoft">Microsoft</option>
            <option value="Sony">Sony</option>
        </select>
	</div>
    <span class="help-block"></span>

	<div class="form-group"> <!-- Subject field -->
		<label class="control-label " for="price">Price:</label>
		<input class="form-control" id="price" name="price" data-validation="number" type="text" placeholder="Price$"/>
	</div>
	<span class="help-block"></span>

		<div class="form-group"> <!-- Subject field -->
		<label class="control-label " for="status">Estatus</label>
        <select name="status" id="status" data-validation="select">
            <option value="Existencia">Existencia</option>
            <option value="Proximamente">Proximamente</option>
            <option value="Agotado">Agotado</option>
        </select>
	</div>
	<span class="help-block"></span>

    <div class="form-group"> 
        <label for="gameImg">Select images:</label><br />
        <input type="file" name="gameImg" multiple>
    </div>
    <span class="help-block"></span>

	<div class="form-group">
		<button class="btn btn-primary " name="submit" type="submit" onsubmit="validateForm">Submit</button>
	</div>

</form>

            </div>
    </div>

        </div>
    </div>
</div>

    <%- include footer %>
<script>
                $(document).ready(function () {
                    var options = {
                        beforeSubmit: showRequest,  // pre-submit callback
                        success: showResponse  // post-submit callback
                    };

                    // bind to the form's submit event
                    $('#console-form').submit(function () {
                        $(this).ajaxSubmit(options);
                        // always return false to prevent standard browser submit and page navigation
                        return false;
                    });
                });

                // pre-submit callback
                function showRequest(formData, jqForm, options) {
                    alert('Uploading is starting.');
                    return true;
                }

                // post-submit callback
                function showResponse(responseText, statusText, xhr, $form) {
                    alert('status: ' + statusText + '\n\nresponseText: \n' + responseText );
                }
        </script>

    <script src="bundle.js"></script>
  </body>
</html>
