<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="styles.css"/>
        <!--Let browser know website is optimized for mobile-->
</head>

  <body>

    <%- include header %>



<div class="container">
	<div class="row padding-10">
        <%- include sidebar-help %>
        <div class="col-md-8">
            <div class="std padding-10">
                <div class="cms-page">
                <h2>Delzar Games</h2>
                <p>Contactanos:</p>
                <ul class="padding-10">
                    <li>Telefono: 3312459245</li>
                    <li>Horarios: 11:00am - 21:00pm</li>
                </ul>

            <h2>Para mayor informacion envia un mensaje</h2>
            <form>

	<div class="form-group"> <!-- Name field -->
		<label class="control-label " for="name">Name</label>
		<input class="form-control" id="name" name="name" type="text" placeholder="Nombre"/>
	</div>
    <span class="help-block"></span>

	<div class="form-group"> <!-- Email field -->
		<label class="control-label requiredField" for="email">Email<span class="asteriskField">*</span></label>
		<input class="form-control" id="email" name="email" type="text" placeholder="Email"/>
	</div>
    <span class="help-block"></span>

	<div class="form-group"> <!-- Subject field -->
		<label class="control-label " for="subject">Subject</label>
		<input class="form-control" id="subject" name="alphanumeric" type="text" placeholder="Tema"/>
	</div>
	<span class="help-block"></span>

	<div class="form-group"> <!-- Message field -->
		<label class="control-label " for="message">Message</label>
		<textarea class="form-control" cols="40" id="message" name="alphanumeric" rows="10" placeholder="Mensaje"></textarea>
	</div>
    <span class="help-block"></span>

	<div class="form-group">
		<button class="btn btn-primary " name="submit" type="submit" onsubmit="validateForm">Submit</button>
	</div>

</form>

            </div>
    </div>

        </div>
    </div>
</div>
        <%- include footer %>
 
    <script src="bundle.js">
        </script>
  </body>
</html>
