     <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-4">
             <%- include('card', {title: "Registrar", subtitle: "Registrate para tener mas promociones", imageURL: "/images/cards/register.jpg", url: "/signUp"}) -%>
          </div>
          <div class="col-sm-4">
             <%- include('card', {title: "Factura", subtitle: "Factura tus compras", imageURL: "http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png", url: "/factura"}) -%>
          </div>
          <div class="col-sm-4">
             <%- include('card', {title: "Ofertas", subtitle: "Verifica nuestras Ofertas", imageURL: "/images/cards/offer.jpg", url: "/oferta"}) -%>
          </div>
        </div>
      </div>
