<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="styles.css">
        <!--Let browser know website is optimized for mobile-->
</head>
  <body>

   <!-- si utiliza ejs-compiled-loader es necesario utilizar src/pathToFile -->
   <%- include header %>

   <div class="container padding-10">
       <div class="row">
         <%- include sidebar-config %>

         <div class="col-sm-4">
         <form class="form-group">

          <div class="form-group"> <!-- Password field -->
            <label for="old_password" class="control-label">Contraseña Anterior</label>
            <input class="form-control" id="old_password" name="password" type="password" placeholder="Old Password"/>
          </div>
          <span class="help-block"></span>

          <div class="form-group"> <!-- Password field -->
           <label for="new_password" class="control-label">Nueva Contraseña</label>
            <input class="form-control" id="new_password" name="password" type="password" placeholder="New Password"/>
          </div>
          <span class="help-block"></span>

          <div class="form-group"> <!-- Password field -->
            <label for="repeat_password" class="control-label">Repetir Nueva Contraseña</label>
            <input class="form-control" id="repeat_password" name="password" type="password" placeholder="Repeat Password" onblur="
              if (document.getElementById('new_password').value != document.getElementById('repeat_password').value){
                setError(this, 'No coinciden las contraseñas');
              }
            " />
          </div>
          <span class="help-block"></span>

          <div class="form-group"> <!-- Login button -->
            <button class="btn btn-primary " name="submit" type="submit" onclick="
              validateForm();

              if (document.getElementById('new_password').value != document.getElementById('repeat_password').value){
                setError(document.getElementById('repeat_password'), 'No coinciden las contraseñas');
              } else {
                setError(document.getElementById('repeat_password'), '');
              }

              return false;
            ">Change Password</button>
          </div>

        </form>
       </div>
       </div>
   </div>

   <%- include footer %>


    <script>
        function validateForm(){
            setAllError();
            var inputs = document.getElementsByTagName('input');

            for (var i = 0; i < inputs.length; i++){
                if (inputs[i].name === 'name'){
                    onlyLetters(inputs[i]);
                }
                else if (inputs[i].name === 'number'){
                    onlyNumbers(inputs[i]);
                }
                else if (inputs[i].name === 'email'){
                    validateEmail(inputs[i]);
                }
                else if (inputs[i].name === 'password'){
                    requiredField(inputs[i]);
                }
                else if (inputs[i].name === 'username'){
                    validateUsername(inputs[i]);
                }
                else if (inputs[i].name === 'alphanumeric'){
                    alphanumeric(inputs[i]);
                }
                else if (inputs[i].name === 'zip'){
                    validateZIP(inputs[i]);
                }
            }
        }

        function validateEmail(input) {
            requiredField(input);
            var email = input.value;
            if (!email.match("/[_+a-zA-Z0-9-]+(\.[_+a-zA-Z0-9-])*@[_+a-zA-Z0-9-]+(\.([a-zA-Z]{2,}))+/i")) {
                setError(input, 'Email incorrector');
                return false;
            }
            setError(input, '');
        }

        function requiredField(input)
        {
            if (input.value.length == 0)
            {
                setError(input, 'Se requiere este campo');
                return false;
            }
            setError(input, '');
            return true;
        }

        function onlyLetters(input)
        {
        requiredField(input);

        var letters = /^[A-Za-z]+$/;
        if(input.value.match(letters))
            {
            return true;
            }
        else
            {
            setError(input, 'Solo se aceptan Letras');
            return false;
            }
        }

            //requiredField FIELD



        function onlyNumbers(input)
        {
            var numbers = /^[0-9]+$/;
            if(!input.value.match(numbers))
            {
            setError(input, 'Solo se aceptan numeros');
            return false;
            }
        }

        // Function to check letters and numbers
        function alphanumeric(input)
        {
            requiredField(input);
        var letterNumber = /^[0-9a-zA-Z]+$/;
        if(input.value.match(letterNumber))
        {
        return true;
        }
        else
            {
            setError(input, 'Solo se aceptan valores alfanumericos');
            return false;
            }
        }

        function validateUsername(input){
            requiredField(input);

            var usernameRegex = /^[a-zA-Z0-9]+$/;
            if(input.value.match(usernameRegex)) {
               return true;
            }  else {
                setError(input, 'Solo se aceptan valores de Usuario, Primero letras');
                return false;
            }
        }

        function lengthRange(input, minlength, maxlength)
        {
        var userInput = input.value;
        if(userInput.length >= minlength && userInput.length <= maxlength)
            {
                return true;
            }
        else
            {
            setError(input, "Por favor ingresa un valor entre " +minlength+ " y " +maxlength);
                return false;
            }
        }

        function validateZIP(input){
            onlyNumbers(input);

            if (input.value.length != 5){
                setError(input, 'El tamaño del codigo debe ser de 5 numeros');
                return false;
            }
        }

        function setAllError(){
            var elems = document.getElementsByClassName("help-block");

            for (var i = 0; i < elems.length; i++){
                elems[i].innerHTML = "";
            }
        }

        function setError(input, err){
            var next = input.parentNode.nextElementSibling || input.parentNode.nextSibling;
            next.innerHTML = err;
        }
    </script>
    <script src="bundle.js">
        </script>
  </body>
</html>
