
           <div class="col-sm-4">
            <div class="list-group wizard-menu">
                <a href="/users" class="list-group-item step-1-menu" data-for=".step-1">
                    <h4 class="list-group-item-heading">Usuarios
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
                <a href="/new-admin" class="list-group-item step-1-menu" data-for=".step-1">
                    <h4 class="list-group-item-heading">Nuevo Admin
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
                <a href="/consoles" class="list-group-item step-2-menu" data-for=".step-2">
                    <h4 class="list-group-item-heading">Consolas
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
                <a href="/new-console" class="list-group-item step-2-menu" data-for=".step-2">
                    <h4 class="list-group-item-heading">Nueva Consola
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
                <a href="/games" class="list-group-item step-3-menu" data-for=".step-3">
                    <h4 class="list-group-item-heading">Videojuegos
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
                <a href="/new-game" class="list-group-item step-3-menu" data-for=".step-3">
                    <h4 class="list-group-item-heading">Nuevo Videojuego
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
            </div>
        </div>
