<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="styles.css"/>
</head>

  <body>

    <%- include header %>

<div class="container">


    <div class="login-container">
        <h3 class="auth-title"><a href="/signUp">Sign up with</a> or <a href="/signIn">Sign in</a></h3>
        <div class="row omb_row-sm-offset-3 social-buttons">
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="btn btn-lg btn-block facebook-btn">
                    <i class="fa fa-facebook visible-xs"></i>
                    <span class="hidden-xs">Facebook</span>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="btn btn-lg btn-block twitter-btn">
                    <i class="fa fa-twitter visible-xs"></i>
                    <span class="hidden-xs">Twitter</span>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="#" class="btn btn-lg btn-block google-btn">
                    <i class="fa fa-google-plus visible-xs"></i>
                    <span class="hidden-xs">Google+</span>
                </a>
            </div>
        </div>

        <div class="row omb_row-sm-offset-3 login-container-or">
            <div class="col-xs-12 col-sm-6">
                <hr class="hr-line">
                <span class="or">or</span>
            </div>
        </div>

        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <form class="login-form" action="/save-user" autocomplete="off" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="username" placeholder="Username"  onblur="validateUsername(this);">
                    </div>
                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="password" class="form-control" name="password" data-validation="password" placeholder="Password" onblur="requiredField(this);">
                    </div>

                    <span class="help-block"></span>

                    <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input size="60" maxlength="255" class="form-control" placeholder="First Name" name="firstname" data-validation="name" id="UserRegistration_fname" type="text" onblur="requiredField(this)">
                    </div>

                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input size="60" maxlength="255" class="form-control" placeholder="Last Name" name="lastname" id="UserRegistration_lname" data-validation="name" type="text" onblur="requiredField(this)">
                    </div>

                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon fa fa-envelope "></i></span>
                        <input size="60" maxlength="255" class="form-control" placeholder="Address" name="email" data-validation="email" id="UserRegistration_address" type="text" onblur="requiredField(this)">
                     </div>

                     <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon fa fa-mobile"></i></span>
                        <input size="60" maxlength="255" class="form-control" placeholder="Contact Number" name="cellphone" data-validation="number" id="UserRegistration_contactnumber" type="text" onblur="requiredField(this)">
                     </div>

                    <span class="help-block"></span>

                    <button class="btn btn-lg btn-primary btn-block" type="submit" onsubmit="validateForm">Sign Up</button>
                </form>
            </div>
        </div>
    </div>



        </div>

        <%- include footer %>



    <script src="bundle.js"></script>
  </body>
</html>
