 <span class="smallnav menu">
    <%  %>
 <li class="dropdown"><a href="/signIn"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Login</a>
    
</li>
 </span>

  <span class="largenav">
 <li class="dropdown"><a href="/signIn">
     <i class="fa fa-user-circle-o" aria-hidden="true"></i>Login</a>
</li>
 </span>