<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="styles.css">
</head>
  <body>

   <!-- si utiliza ejs-compiled-loader es necesario utilizar src/pathToFile -->
   <%- include header %>

   <div class="container padding-10">
       <div class="row">
         <%- include sidebar-config %>
         <div class="col-sm-6">
         <form>

              <div class="form-group"> <!-- Full Name -->
                <label for="full_name_id" class="control-label">Nombre Completo</label>
                <input type="text" class="form-control" id="full_name_id" name="name" placeholder="John Deer">
              </div>
              <span class="help-block"></span>

              <div class="form-group"> <!-- Street 1 -->
                <label for="street1_id" class="control-label">Calle 1</label>
                <input type="text" class="form-control" id="street1_id" name="alphanumeric" placeholder="Street address, P.O. box, company name, c/o">
              </div>
              <span class="help-block"></span>

              <div class="form-group"> <!-- Street 2 -->
                <label for="street2_id" class="control-label">Calle 2</label>
                <input type="text" class="form-control" id="street2_id" name="alphanumeric" placeholder="Apartment, suite, unit, building, floor, etc.">
              </div>
              <span class="help-block"></span>

              <div class="form-group"> <!-- City-->
                <label for="city_id" class="control-label">Ciudad</label>
                <input type="text" class="form-control" id="city_id" name="name" placeholder="Smallville">
              </div>
              <span class="help-block"></span>

              <div class="form-group"> <!-- State Button -->
                <label for="state_id" class="control-label">Estado</label>
                <select class="form-control" id="state_id">
                  <option value="JAL">Jalisco</option>
                </select>
              </div>

              <div class="form-group"> <!-- Zip Code-->
                <label for="zip_id" class="control-label">Codigo Postal</label>
                <input type="text" class="form-control" id="zip_id" name="zip" placeholder="#####">
              </div>
              <span class="help-block"></span>

              <div class="form-group"> <!-- Submit Button -->
                <button type="submit" class="btn btn-primary" onclick="validateForm(); return false;">Update</button>
              </div>

            </form>
         </div>
       </div>
   </div>

   <%- include footer %>

    <script src="bundle.js">
        </script>
  </body>
</html>
