<div class="card">
    <div class="card-image">
                        <img class="img-responsive" src="http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7TDlCYzRROE84YWM/materialdesign_introduction.png">
                        <span class="card-title"><%=title%></span>
                    </div>

                    <div class="card-content">
                        <p><%=subtitle%></p>
                    </div>

                    <!--div class="card-action">
                        <%# for(var i = 0; i < items.length; i++){ %>
                            <a href="<%#items.url%>" target="new_blank"><%#items.name%></a>
                        <%#}%>
                    </div-->
    </div>
</div>
