     <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>

<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
             <%- include('card', {title: "Registrar", subtitle: "Registrate para tener mas promociones", url: "/signUp"}) -%>
          </div>
        </div>
      </div>
    </div>