<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>Heading</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <hr>
          </div>
        </div>
        <div class="row">
              <% games.forEach(function(game){ %>
                <%- include('game-preview', {game: game, colsize: 'col-sm-3'}); %>
              <% }); %>
        </div>
      </div>
    </div>
