 <div class="<%=colsize%>">
            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
                    class="img-responsive">
            <h2><%=game.title%></h2>
                    <p><%=game.platform%>
                      <br><%=game.price%>
                      <br>precio por internet</p>
</div>