 <div class="<%=colsize%>">
         <figure>
            <img src="https://cdn1.vox-cdn.com/uploads/chorus_asset/file/7802427/NintendoSwitch_MarioKart8Deluxe_boxart_1800.jpg"
                    class="img-responsive">
                  <a href="/game">
                   <h2><%=game.title%></h2>
                  </a>
                    <p><%=game.platform%>
                      <br><%=game.price%>
                      <br>precio por internet</p>
         </figure>
</div>