
           <div class="col-sm-4">
            <div class="list-group wizard-menu">
                <a href="/user-form" class="list-group-item step-1-menu" data-for=".step-1">
                    <h4 class="list-group-item-heading">Actualizar datos Personales
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
                <a href="/password-form" class="list-group-item step-2-menu" data-for=".step-2">
                    <h4 class="list-group-item-heading">Cambiar Contraseña
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
                <a href="/invoice-form" class="list-group-item step-3-menu" data-for=".step-3">
                    <h4 class="list-group-item-heading">Facturacion Electronica
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
                <a href="/admin" class="list-group-item step-4-menu" data-for=".step-4">
                    <h4 class="list-group-item-heading">Admin
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
            </div>
        </div>