
           <div class="col-md-4">
            <div class="list-group wizard-menu">
                <a href="/contact" class="list-group-item step-1-menu" data-for=".step-1">
                    <h4 class="list-group-item-heading">Contactanos
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
                <a href="/payform" class="list-group-item step-2-menu" data-for=".step-2">
                    <h4 class="list-group-item-heading">Formas de Pago
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
                <a href="/faqs" class="list-group-item step-3-menu" data-for=".step-3">
                    <h4 class="list-group-item-heading">FAQ'S
                        <span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>
                    </h4>
                </a>
            </div>
        </div>